<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <!-- [START css] -->
    <!-- [END css] -->
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 	0px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
        overflow: scroll;
      }
    </style>
  </head>
  <h1 style="text-align:center"> ToLoP - Toys "R" Us Loss Prevention  </h1>
  <body>
    <div class="container">
        <b> 
	   {{ greeting }}
        </b> 
    </div>
    <hr>
    <form action="/run" method="get">
	{% if currentPage|int > 1%} 
	    	<input name="page" type="button" value="Previous" onclick="window.location.href='/run?id={{projectID|urlencode}}&page={{currentPage|int - 1}}'">
	{%endif%}
    	Page {{currentPage}} of {{numPages}}
	{% if currentPage|int < numPages|int%} 
		<input name="page" type="button" value="Next" onclick="window.location.href='/run?id={{projectID|urlencode}}&page={{currentPage|int + 1}}'">
	{%endif%}
    </form>
    <hr>
    <div class="container">
      <!-- [START projects] -->
      <table style = "width:90%">
          <tr>
	      <th> </th>
	      <th> Item </th>
	      <th> Location </th>
	      <th> ZipCode </th>
	      <th> Price </th>
	      <th> Condition </th>
	      <th> Shipping Cost </th>
	      <th> Post Date </th>
	      <th> Score </th>
	      <th> Status </th>
	      <th> Actions </th>
	  </tr>
	  {% for item in searchResults[((currentPage|int-1)*resultsPerPage|int):(currentPage|int * resultsPerPage|int)]%}
	  <tr>
	      <td> <img src="{{item.imageLink}}" style="width:150px;height:100px;" > </td>
	      <td> <a href="{{item.website}}" target="_blank"> {{item.title[0:30]}}... </a> </td>
	      <td align="center"> {{item.location[0:10]}}... </td>
	      <td align="center"> {{item.zipCode}} </td>
	      <td align="center"> {{"${:,.2f}".format(item.price)}} </td>
	      <td align="center"> {{item.condition}} </td>
	      <td align="center"> {{"${:,.2f}".format(item.shippingCost)}} </td>
	      <td align="center"> {{item.postDate.strftime("%b %d, %Y") if item.postDate}} </td>
	      <td> {{item.distance}}</td>
	      <td align="center"> {{item.searchStatus}} </td>
	      <td align="center">
	      	    <form action="/run" method="post">
			<input name="projectKey" type="text" value="{{projectID}}" hidden/>
			<input name="page" type="text" value="{{currentPage}}" hidden/>
			<input name="itemKey" type="text" value="{{item.key}}" hidden/>
			<input name="safe" value="Safe" type="submit"/>
	      		<input name="suspicious" value="Suspicious" type="submit"/>
	      		<input name="details" value="Details" type="submit"/>
		    </form>
	      </td>
	  </tr>
      	  {% endfor %}
      </table> 
      <!-- [END projects] -->
    <hr>
    <form>
    <input type="button" value="{{ button1 }}" onclick="window.location.href='{{url1}}'"/>
      {% if button2 != None %}
      <input type="button" value="{{ button2 }}" onclick="window.location.href='{{url2}}'"/>
      {% endif %}
    </form>
    </div>
  </body>
</html>
{% endautoescape %}
